head
    title Poorly Taught
    meta(charset='utt-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    if description
        meta(name'description', content=description)

